.search-bar-container {
    padding: 5px 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.font-awesome-image {
    color: grey;
}

.search-bar-container input {
    margin-left: 8px;
    outline: none;
    border-style: none;
}

.search-bar-container::placeholder {
    color: "grey";
}
