.nav-item-container {
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 15px;
    gap: 15px;
    padding: 12px 12px;
    align-items: center;
}

.nav-item-container:hover {
    background-color: #2d2d69;
}

.nav-item-container img {
    height: 22px;
    width: 22px;
}
